---
// Bolt Badge component
---

<a href="https://bolt.new" target="_blank" rel="noopener noreferrer" class="bolt-badge">
	<svg width="146" height="47" viewBox="0 0 146 47" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g filter="url(#filter0_dd_1_51)">
			<rect x="5" y="1" width="136" height="37" rx="8" fill="white"/>
			<rect x="5.5" y="1.5" width="135" height="36" rx="7.5" stroke="#E1F2FF"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M28.1063 26.1029C26.8621 26.1029 25.6405 25.6507 24.9392 24.6784L24.6918 25.8251L20.125 28.25L20.618 25.8251L23.9438 10.75H28.0158L26.8395 16.0636C27.7896 15.0235 28.6719 14.6391 29.803 14.6391C32.2462 14.6391 33.875 16.2445 33.875 19.1839C33.875 22.2138 31.9974 26.1029 28.1063 26.1029ZM29.6673 20.0431C29.6673 21.445 28.6719 22.5077 27.3824 22.5077C26.6585 22.5077 26.0024 22.2364 25.5726 21.7616L26.206 18.9804C26.6811 18.5056 27.224 18.2343 27.8575 18.2343C28.8302 18.2343 29.6673 18.9578 29.6673 20.0431Z" fill="#0F0F0F" stroke="#0F0F0F" stroke-width="0.0208418"/>
			<path d="M42.0043 14.8182H44.2614L47.2841 22.196H47.4034L50.4261 14.8182H52.6832V25H50.9134V18.005H50.8189L48.005 24.9702H46.6825L43.8686 17.9901H43.7741V25H42.0043V14.8182ZM56.8097 25.1541C56.3258 25.1541 55.8899 25.0679 55.5021 24.8956C55.1177 24.7199 54.8127 24.4614 54.5874 24.12C54.3653 23.7786 54.2543 23.3577 54.2543 22.8572C54.2543 22.4264 54.3338 22.0701 54.4929 21.7884C54.652 21.5066 54.8691 21.2812 55.1442 21.1122C55.4193 20.9432 55.7292 20.8156 56.0739 20.7294C56.4219 20.6399 56.7815 20.5753 57.1527 20.5355C57.6001 20.4891 57.9631 20.4477 58.2415 20.4112C58.5199 20.3714 58.7221 20.3118 58.848 20.2322C58.9773 20.1494 59.0419 20.0218 59.0419 19.8494V19.8196C59.0419 19.4451 58.9309 19.1551 58.7088 18.9496C58.4867 18.7441 58.1669 18.6413 57.7493 18.6413C57.3085 18.6413 56.9588 18.7375 56.7003 18.9297C56.4451 19.1219 56.2727 19.349 56.1832 19.6108L54.5028 19.3722C54.6354 18.9081 54.8542 18.5204 55.1591 18.2088C55.464 17.8939 55.8369 17.6586 56.2777 17.5028C56.7185 17.3438 57.2057 17.2642 57.7393 17.2642C58.1072 17.2642 58.4735 17.3073 58.8381 17.3935C59.2027 17.4796 59.5357 17.6222 59.8374 17.821C60.139 18.0166 60.3809 18.2834 60.5632 18.6214C60.7488 18.9595 60.8416 19.3821 60.8416 19.8892V25H59.1115V23.951H59.0518C58.9425 24.1631 58.7884 24.362 58.5895 24.5476C58.3939 24.7299 58.147 24.8774 57.8487 24.9901C57.5537 25.0994 57.2074 25.1541 56.8097 25.1541ZM57.277 23.8317C57.6383 23.8317 57.9515 23.7604 58.2166 23.6179C58.4818 23.4721 58.6856 23.2798 58.8281 23.0412C58.974 22.8026 59.0469 22.5424 59.0469 22.2607V21.3608C58.9905 21.4072 58.8944 21.4503 58.7585 21.4901C58.6259 21.5298 58.4768 21.5646 58.3111 21.5945C58.1454 21.6243 57.9813 21.6508 57.8189 21.674C57.6565 21.6972 57.5156 21.7171 57.3963 21.7337C57.1278 21.7701 56.8875 21.8298 56.6754 21.9126C56.4633 21.9955 56.2959 22.1115 56.1733 22.2607C56.0507 22.4065 55.9893 22.5954 55.9893 22.8274C55.9893 23.1589 56.1103 23.4091 56.3523 23.5781C56.5942 23.7472 56.9025 23.8317 57.277 23.8317ZM65.4851 25.1342C64.8852 25.1342 64.3482 24.9801 63.8743 24.6719C63.4003 24.3636 63.0258 23.9162 62.7507 23.3295C62.4756 22.7429 62.3381 22.0303 62.3381 21.1918C62.3381 20.3433 62.4773 19.6274 62.7557 19.044C63.0374 18.4574 63.4169 18.0149 63.8942 17.7166C64.3714 17.415 64.9034 17.2642 65.4901 17.2642C65.9375 17.2642 66.3054 17.3404 66.5938 17.4929C66.8821 17.642 67.1108 17.8227 67.2798 18.0348C67.4489 18.2436 67.5798 18.4408 67.6726 18.6264H67.7472V14.8182H69.5518V25H67.782V23.7969H67.6726C67.5798 23.9825 67.4455 24.1797 67.2699 24.3885C67.0942 24.594 66.8622 24.7696 66.5739 24.9155C66.2855 25.0613 65.9226 25.1342 65.4851 25.1342ZM65.9872 23.6577C66.3684 23.6577 66.6932 23.5549 66.9616 23.3494C67.2301 23.1406 67.4339 22.8506 67.5732 22.4794C67.7124 22.1082 67.782 21.6757 67.782 21.1818C67.782 20.688 67.7124 20.2588 67.5732 19.8942C67.4373 19.5296 67.2351 19.2462 66.9666 19.044C66.7015 18.8419 66.375 18.7408 65.9872 18.7408C65.5862 18.7408 65.2514 18.8452 64.983 19.054C64.7145 19.2628 64.5123 19.5511 64.3764 19.919C64.2405 20.2869 64.1726 20.7079 64.1726 21.1818C64.1726 21.6591 64.2405 22.085 64.3764 22.4595C64.5156 22.8307 64.7195 23.1241 64.9879 23.3395C65.2597 23.5516 65.5928 23.6577 65.9872 23.6577ZM74.8503 25.1491C74.0847 25.1491 73.4235 24.9901 72.8667 24.6719C72.3132 24.3504 71.8873 23.8963 71.589 23.3097C71.2907 22.7197 71.1415 22.0253 71.1415 21.2266C71.1415 20.4411 71.2907 19.7517 71.589 19.1584C71.8906 18.5618 72.3115 18.0978 72.8517 17.7663C73.392 17.4316 74.0267 17.2642 74.7559 17.2642C75.2265 17.2642 75.6706 17.3404 76.0882 17.4929C76.5092 17.642 76.8804 17.8741 77.2019 18.1889C77.5267 18.5038 77.7819 18.9048 77.9675 19.392C78.1531 19.8759 78.2459 20.4527 78.2459 21.1222V21.674H71.9867V20.4609H76.5208C76.5175 20.1162 76.4429 19.8097 76.2971 19.5412C76.1512 19.2694 75.9474 19.0556 75.6855 18.8999C75.427 18.7441 75.1254 18.6662 74.7807 18.6662C74.4128 18.6662 74.0897 18.7557 73.8113 18.9347C73.5328 19.1103 73.3158 19.3423 73.16 19.6307C73.0075 19.9157 72.9296 20.2289 72.9263 20.5703V21.6293C72.9263 22.0734 73.0075 22.4545 73.1699 22.7727C73.3323 23.0876 73.5594 23.3295 73.851 23.4986C74.1427 23.6643 74.4841 23.7472 74.8752 23.7472C75.137 23.7472 75.374 23.7107 75.5861 23.6378C75.7982 23.5616 75.9822 23.4505 76.138 23.3047C76.2937 23.1589 76.4114 22.9782 76.4909 22.7628L78.1713 22.9517C78.0653 23.3958 77.8631 23.7836 77.5648 24.1151C77.2698 24.4432 76.892 24.6984 76.4313 24.8807C75.9706 25.0597 75.4436 25.1491 74.8503 25.1491ZM83.2411 25V17.3636H85.0408V25H83.2411ZM84.146 16.2798C83.8609 16.2798 83.6156 16.1854 83.4102 15.9964C83.2047 15.8042 83.1019 15.5739 83.1019 15.3054C83.1019 15.0336 83.2047 14.8033 83.4102 14.6143C83.6156 14.4221 83.8609 14.326 84.146 14.326C84.4343 14.326 84.6796 14.4221 84.8817 14.6143C85.0872 14.8033 85.19 15.0336 85.19 15.3054C85.19 15.5739 85.0872 15.8042 84.8817 15.9964C84.6796 16.1854 84.4343 16.2798 84.146 16.2798ZM88.6912 20.5256V25H86.8915V17.3636H88.6117V18.6612H88.7012C88.8768 18.2337 89.1569 17.8939 89.5414 17.642C89.9292 17.3902 90.4081 17.2642 90.9782 17.2642C91.5051 17.2642 91.9642 17.3769 92.3553 17.6023C92.7497 17.8277 93.0546 18.1541 93.2701 18.5817C93.4888 19.0092 93.5965 19.5279 93.5932 20.1378V25H91.7935V20.4162C91.7935 19.9058 91.6609 19.5064 91.3958 19.218C91.1339 18.9297 90.771 18.7855 90.307 18.7855C89.9921 18.7855 89.7121 18.8551 89.4668 18.9943C89.2248 19.1302 89.0343 19.3274 88.8951 19.5859C88.7592 19.8445 88.6912 20.1577 88.6912 20.5256ZM98.975 25V14.8182H102.873C103.608 14.8182 104.22 14.9342 104.707 15.1662C105.198 15.3949 105.564 15.7081 105.806 16.1058C106.051 16.5036 106.174 16.9543 106.174 17.4581C106.174 17.8724 106.094 18.227 105.935 18.522C105.776 18.8137 105.562 19.0507 105.294 19.233C105.025 19.4152 104.725 19.5462 104.394 19.6257V19.7251C104.755 19.745 105.102 19.8561 105.433 20.0582C105.768 20.2571 106.041 20.5388 106.253 20.9034C106.465 21.268 106.572 21.7088 106.572 22.2259C106.572 22.7528 106.444 23.2268 106.189 23.6477C105.934 24.0653 105.549 24.3951 105.035 24.6371C104.522 24.879 103.875 25 103.096 25H98.975ZM100.819 23.4588H102.803C103.473 23.4588 103.955 23.3312 104.25 23.076C104.548 22.8175 104.697 22.486 104.697 22.0817C104.697 21.7801 104.623 21.5083 104.474 21.2663C104.324 21.0211 104.112 20.8288 103.837 20.6896C103.562 20.5471 103.234 20.4759 102.853 20.4759H100.819V23.4588ZM100.819 19.1484H102.644C102.962 19.1484 103.249 19.0904 103.504 18.9744C103.759 18.8551 103.96 18.6877 104.106 18.4723C104.255 18.2536 104.329 17.995 104.329 17.6967C104.329 17.3023 104.19 16.9775 103.912 16.7223C103.637 16.4671 103.227 16.3395 102.684 16.3395H100.819V19.1484ZM111.428 25.1491C110.682 25.1491 110.036 24.9851 109.489 24.657C108.942 24.3288 108.518 23.8698 108.216 23.2798C107.918 22.6899 107.768 22.0005 107.768 21.2116C107.768 20.4228 107.918 19.7318 108.216 19.1385C108.518 18.5452 108.942 18.0845 109.489 17.7564C110.036 17.4283 110.682 17.2642 111.428 17.2642C112.173 17.2642 112.82 17.4283 113.366 17.7564C113.913 18.0845 114.336 18.5452 114.634 19.1385C114.936 19.7318 115.087 20.4228 115.087 21.2116C115.087 22.0005 114.936 22.6899 114.634 23.2798C114.336 23.8698 113.913 24.3288 113.366 24.657C112.82 24.9851 112.173 25.1491 111.428 25.1491ZM111.438 23.7074C111.842 23.7074 112.18 23.5964 112.452 23.3743C112.723 23.1489 112.926 22.8473 113.058 22.4695C113.194 22.0916 113.262 21.6707 113.262 21.2067C113.262 20.7393 113.194 20.3168 113.058 19.9389C112.926 19.5578 112.723 19.2545 112.452 19.0291C112.18 18.8037 111.842 18.6911 111.438 18.6911C111.023 18.6911 110.679 18.8037 110.403 19.0291C110.132 19.2545 109.928 19.5578 109.792 19.9389C109.659 20.3168 109.593 20.7393 109.593 21.2067C109.593 21.6707 109.659 22.0916 109.792 22.4695C109.928 22.8473 110.132 23.1489 110.403 23.3743C110.679 23.5964 111.023 23.7074 111.438 23.7074ZM118.414 14.8182V25H116.614V14.8182H118.414ZM124.078 17.3636V18.7557H119.688V17.3636H124.078ZM120.772 15.5341H122.571V22.7031C122.571 22.9451 122.608 23.1307 122.681 23.2599C122.757 23.3859 122.856 23.4721 122.979 23.5185C123.102 23.5649 123.238 23.5881 123.387 23.5881C123.499 23.5881 123.602 23.5798 123.695 23.5632C123.791 23.5466 123.864 23.5317 123.914 23.5185L124.217 24.9254C124.121 24.9586 123.983 24.995 123.804 25.0348C123.629 25.0746 123.413 25.0978 123.158 25.1044C122.707 25.1177 122.301 25.0497 121.94 24.9006C121.579 24.7481 121.292 24.5128 121.08 24.1946C120.871 23.8764 120.768 23.4787 120.772 23.0014V15.5341Z" fill="black"/>
		</g>
		<defs>
			<filter id="filter0_dd_1_51" x="0" y="0" width="146" height="47" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
				<feFlood flood-opacity="0" result="BackgroundImageFix"/>
				<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
				<feMorphology radius="1" operator="erode" in="SourceAlpha" result="effect1_dropShadow_1_51"/>
				<feOffset dy="2"/>
				<feGaussianBlur stdDeviation="2"/>
				<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.06 0"/>
				<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_51"/>
				<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
				<feMorphology radius="1" operator="erode" in="SourceAlpha" result="effect2_dropShadow_1_51"/>
				<feOffset dy="4"/>
				<feGaussianBlur stdDeviation="3"/>
				<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
				<feBlend mode="normal" in2="effect1_dropShadow_1_51" result="effect2_dropShadow_1_51"/>
				<feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_1_51" result="shape"/>
			</filter>
		</defs>
	</svg>
</a>

<style scoped>
	.bolt-badge {
		position: fixed;
		bottom: 1rem;
		right: 1rem;
		z-index: 1000;
		transition: all var(--transition-fast);
		opacity: 1;
		border-radius: 12px;
		box-shadow: var(--shadow-raised);
	}
	
	.bolt-badge:hover {
		opacity: 0.9;
		box-shadow: var(--shadow-soft);
		transform: translateY(-1px);
	}
	
	.bolt-badge svg {
		width: 120px;
		height: auto;
	}
	
	@media (max-width: 768px) {
		.bolt-badge {
			bottom: 0.75rem;
			right: 0.75rem;
		}
		
		.bolt-badge svg {
			width: 100px;
		}
	}
</style>